<!DOCTYPE html>
<html>
<head>
    <title>Analytics Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <div class="navbar">
        <div class="brand">Cloud Log Analyzer</div>

        <div class="nav-links">
            <a href="/upload">Upload</a>
            <a href="/history">History</a>
            <a href="/logout">Logout</a>
        </div>
    </div>

    <h1>Analytics Dashboard</h1>

    <div class="card">

        <div class="metrics-grid">

            {% for key, value in data.items() %}

            <div class="metric-card">
                <div class="metric-label">
                    {{ key }}
                </div>

                <div class="metric-value" style="word-wrap: break-word; white-space: normal; max-width: 100%;">
                    {{ value }}
                </div>
            </div>

            {% endfor %}

        </div>

    </div>

    <div class="card">

        <table>

            <tr>
                <th>Metric</th>
                <th>Count</th>
            </tr>

            {% for key, value in data.items() %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ value }}</td>
            </tr>
            {% endfor %}

        </table>

    </div>

</div>

</body>
</html>