<!DOCTYPE html>
<html>
<head>
    <title>Secure Cloud Log Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <div class="card auth-landing">

        <h1>Secure Cloud Log Analyzer</h1>
        <p>Choose how you want to continue</p>

        <div class="auth-options">

            <!-- SIGN IN BOX -->
            <div class="auth-box">
                <h2>Welcome Back</h2>
                <p>Already have an account?</p>
                <a href="/login">
                    <button>Sign In</button>
                </a>
            </div>

            <!-- REGISTER BOX -->
            <div class="auth-box">
                <h2>Create Account</h2>
                <p>New here?</p>
                <a href="/register">
                    <button>Register</button>
                </a>
            </div>

        </div>

    </div>

</div>

</body>
</html>